


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Didact Gothic', sans-serif;
font-family: 'Inter', sans-serif;
}

main{
    width: 100%;
    height: 100vh;
}

/* ip styling */
#ip-div{
    background-color: black;
    color: #B8BCCC;
    padding: 25px;
}

#ip-address{
    font-size: 35px;
    font-weight: 600;
}

#ip-details{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    gap: 10px;
}

.ip-info{
    width: 30%;
    font-size: 25px;
    font-weight: 600;
}

/* google map styling */